html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  width: 100px;
  height: 100px;
  border: 1px #ccc dotted;
  margin: 10px;
  border-radius: 50%;
  background-color: #eee;
}

div.blue {
  background-color: blue;
}

.invisible {
  display: none;
}

.visible {
  display: block;
  border: 3px black dashed;
  border-radius: 0;
  background-color: white;
}
